form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 800px;
  margin-inline: auto;
}

.input-task {
  margin-right: 1rem;
  flex-basis: max(35%, 400px);
  display: flex;
}

.todo-input,
select,
.todo-button {
  padding: 10px;
  font-size: 1.1rem;
}

.todo-input {
  width: 90%;
  border: 1px solid #ccc;
}

.todo-input:focus {
  outline: none;
}

.todo-button {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #ccc;
  border-left-color: transparent;
}

.todo-button:hover {
  background: #ff6f47;
  color: white;
}

.todo-button i {
  font-size: 1.2rem;
}

select {
  width: 100%;
  border: 1px solid #ccc;
  color: #ff6f47;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.select {
  position: relative;
}

.select::after {
  content: "\f0d7";
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  background-color: #ff6f47;
  width: 40px;
  top: 0;
  right: 0;
  pointer-events: none;
}

.select {
  flex-basis: max(15%, 200px);
}
