* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
